@use '@/styles/variables' as *;

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left side */
.left {
  flex: 1;
  position: relative;
}

/* Right side */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 40%;
  margin-top: 3%;
  position: relative;
  right: 10%;
}

.header {
  margin: 5% 0 5% 0;

  p:first-child {
    font-size: 30px;
    font-weight: 700;
  }

  p:nth-child(2) {
    font-size: 16px;
    color: #949497;
  }
}

.filed {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;

  label {
    font-size: 12px;
  }

  input {
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 2% 6% 2% 6%;
  }
}

.optinalRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.loginBtn {
  border: 1px solid #000000;
  padding: 2%;
  background-color: black;
  color: #fdfdfd;
  margin-bottom: 5%;
  border-radius: 8px;
}

.createAccount {
  display: flex;
  justify-content: flex-start;
  gap: 5%;

  :nth-child(4) {
    margin-left: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}
