@use '@/styles/variables' as *;

@mixin layout-gutter {
  padding-inline: $layout-gutter-mobile;

  @media (min-width: $layout-tablet) {
    padding-inline: $layout-gutter-tablet;
  }

  @media (min-width: $layout-desktop) {
    padding-inline: $layout-gutter-desktop;
  }
}

.container {
  @include layout-gutter;
}
