@use '@/styles/variables' as *;

@mixin layout-gutter {
  padding-inline: $layout-gutter-mobile;

  @media (min-width: $layout-tablet) {
    padding-inline: $layout-gutter-tablet;
  }

  @media (min-width: $layout-desktop) {
    padding-inline: $layout-gutter-desktop;
  }
}

.container {
  @include layout-gutter;
  max-width: 1440px; /* или какая у вас максимальная ширина по макету */
  margin: 0 auto;    /* Центрирует блок по горизонтали */
  width: 100%;       /* Чтобы на маленьких экранах он сжимался */

}
