@use 'tailwindcss';

@use '@/styles/variables' as *;
@use '@/styles/layout' as *;
@use '@/styles/typography' as *;
@use '@/styles/buttons' as *;

@theme {
  --font-sans: var(--font-poppins), 'Poppins', sans-serif;
}

:root {
  --site-header-height: #{$site-header-height};
  --site-footer-height: #{$site-footer-height};
}
