@use '@/styles/variables' as *;
@use '@/styles/layout' as *;

.headerRoot {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: $color-white;
}

.header {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 176px 1fr 176px;
  align-items: center;
  padding: 20px 0;
  font-family: $font-family-heading;
  @include layout-gutter;
}

.actions {
  display: flex;
  justify-content: space-between;
}
